<div class="mobile-menu" [@slideInOut]="menuState">
  <ul>
    <li>
      <a routerLink="/store">
        <span>Men</span>
        <fa-icon [icon]="faAngleRight"></fa-icon
      ></a>
    </li>
    <li>
      <a routerLink="/store">
        <span>Women</span>
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </li>
    <li>
      <a routerLink="/store">
        <span>Luxury Brands</span>
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </li>
    <li>
      <a routerLink="/store">
        <span>Custom Made</span>
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </li>

    <li>
      <a routerLink="/store">
        <span>Luxury Accessories</span>
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </li>
    <li>
      <a routerLink="/store">
        <span>Luxury Watch Care</span>
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </li>
    <li>
      <a routerLink="/store">
        <span>Watch Collections</span>
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </li>
  </ul>
</div>
