.category-container {
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #000;

  .category-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
}

.visible {
  visibility: visible;
  position: static;
}

.hidden {
  visibility: hidden;
  position: absolute;
}
