<div class="category">
  <span>{{ categoryNode.name }}</span>
  <div class="buttons">
    <button (click)="toggleMenu()">
      <nb-icon size="tiny" [icon]="isShowMenu ? 'close' : 'menu'"></nb-icon>
    </button>
    <button
      [disabled]="(categoryNode?.children?.length ?? 0) === 0"
      (click)="toggleSubcategories()"
    >
      <nb-icon
        size="tiny"
        [icon]="isShowSubcategories ? 'chevron-down' : 'chevron-right'"
      ></nb-icon>
    </button>
  </div>
</div>

<ngx-menu *ngIf="isShowMenu" [categoryNode]="categoryNode"></ngx-menu>

<ngx-list
  [ngClass]="isShowSubcategories ? 'visible' : 'hidden'"
  [categoryNode]="categoryNode"
></ngx-list>
