<div class="category">
  <span [ngClass]="{ highlight: isShowMenu }">{{ category.name }}</span>
  <div class="menu" *ngIf="isShowMenu">
    <span class="menu-header">Edit</span>
    <nb-actions size="small">
      <nb-action
        icon="plus-circle-outline"
        title="Add Nested Category"
        (click)="openDialog()"
      ></nb-action>
      <nb-action icon="edit-outline" title="Edit Category"></nb-action>
      <nb-action icon="arrow-up-outline" title="Move Up"></nb-action>
      <nb-action icon="arrow-down-outline" title="Move Down"></nb-action>
      <nb-action icon="trash-2-outline" title="Delete Category"></nb-action>
    </nb-actions>
  </div>
</div>

<nb-actions size="small">
  <nb-action
    [icon]="isShowMenu ? 'close-outline' : 'menu-outline'"
    (click)="toggleMenu()"
  ></nb-action>
  <nb-action icon="chevron-right"></nb-action>
</nb-actions>

<ng-template #dialogTemplate>
  <nb-card size="tiny">
    <nb-card-header>Add Nested Category</nb-card-header>
    <nb-card-body>
      <input nbInput type="text" [(ngModel)]="dialogData" />
      <div class="dialog-buttons">
        <button nbButton status="success" (click)="closeDialog()">
          Submit
        </button>
        <button nbButton status="danger" (click)="closeDialog()">Close</button>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
