:host {
  font-size: 0.75rem;
  padding: 0.5rem 0;
  height: 3rem;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  nb-action {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    border-right: 1px solid #e9e9e9;
  }
  nb-action:last-child {
    border-right: none;
  }
}
