<button nbButton status="basic" (click)="open(dialog)">
  <nb-icon icon="plus-outline"></nb-icon>
</button>
<button nbButton status="basic"><nb-icon icon="edit-outline"></nb-icon></button>
<button nbButton status="basic">
  <nb-icon icon="trash-outline"></nb-icon>
</button>
<button nbButton status="basic">
  <nb-icon icon="arrow-downward-outline"></nb-icon>
</button>
<button nbButton status="basic">
  <nb-icon icon="arrow-upward-outline"></nb-icon>
</button>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Template Dialog</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
