.dialog {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  nb-card-body {
    .errors {
      color: red;
      margin: 0.75rem 0 1rem 0;
    }
  }
  nb-card-header {
    border: none;
  }
  nb-card-footer {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
}

:host {
  background-color: #3f3f3f;
}
button {
  all: unset;
  display: inline-block;
  padding-right: 0.75rem;
  cursor: pointer;
}
button:first-child {
  margin-left: 1px;
}
nb-icon {
  padding: 2px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
