<div class="menu">
  <button (click)="toggleAddForm()">
    <nb-icon icon="plus-outline"></nb-icon>
  </button>
  <button (click)="toggleEditForm()">
    <nb-icon icon="edit-outline"></nb-icon>
  </button>
  <button>
    <nb-icon icon="trash-outline"></nb-icon>
  </button>
  <button>
    <nb-icon icon="arrow-downward-outline"></nb-icon>
  </button>
  <button>
    <nb-icon icon="arrow-upward-outline"></nb-icon>
  </button>
</div>

<ngx-add-category
  [categoryNode]="categoryNode"
  [ngClass]="{ visible: isAddFormOpen }"
  (closed)="isAddFormOpen = false"
>
</ngx-add-category>

<ngx-edit-category
  [categoryNode]="categoryNode"
  [ngClass]="{ visible: isEditFormOpen }"
  (closed)="isEditFormOpen = false"
>
</ngx-edit-category>
