:host {
  --menu-min-height: 3.5rem;
  --menu-padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: var(--menu-min-height);
  padding-right: var(--menu-padding-right);
  background-color: #6d6d6d;
  border-top: 1px solid gray;
}

.menu,
.confirm-delete {
  display: flex;
  align-items: center;
  min-height: var(--menu-min-height);
  width: 100%;
}

.menu {
  justify-content: flex-start;
  button {
    all: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0.75rem;
    cursor: pointer;
  }
  button:first-child {
    margin-left: 1px;
  }
  nb-icon {
    padding: 2px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
  }
}

.confirm-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--menu-min-height);
  width: 100%;
  .title {
    color: #ffffff;
    padding-right: 1rem;
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  button {
    width: 3rem;
  }
}

// ANIMATIONS
.animation-category-added {
  color: rgb(0, 214, 143);
  font-weight: normal;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: right;
  padding-right: 0.5rem;
  span {
    margin-right: 0.25rem;
  }
  nb-icon {
    font-size: 2rem;
    color: rgb(0, 214, 143);
    border: none;
  }
}
.animation-category-added.animation-category-added-enter {
  opacity: 1;
}
.animation-category-added.animation-category-added-leave {
  opacity: 0;
}

// --breakpoint-sm: 576px;
@media (min-width: 576px) {
  .buttons {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  .animation-category-added {
    color: #ffffff;
    opacity: 0.75;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    text-align: right;
    padding-right: 3.5rem;
  }
}
