<form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Welcome back.</h2>

  <div class="form-field">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
    <div
      *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
    >
      <span *ngIf="loginForm.get('email')?.errors?.['required']"
        >Email is required.</span
      >
      <span *ngIf="loginForm.get('email')?.errors?.['email']"
        >Invalid email.</span
      >
    </div>
  </div>
  <div class="form-field">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" />
    <div
      *ngIf="
        loginForm.get('password')?.touched && loginForm.get('password')?.invalid
      "
    >
      <span *ngIf="loginForm.get('password')?.errors?.['required']"
        >Password is required.</span
      >
      <span *ngIf="loginForm.get('password')?.errors?.['minlength']"
        >Minimum 8 characters.</span
      >
    </div>
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
  <footer>Need help? <span>Contact us.</span></footer>
</form>
