@media (max-width: 768px) {
  nav {
    height: 8rem;
  }
  .logo-container {
    position: static;
    height: 100%;
    width: 100%;
  }
  .logo {
    max-height: 8rem;
  }
  .mobile-divider-line {
    display: block;
    border-top: 1px solid #f5cd8b;
  }
}
