@import url("./reset.css");

/* Typeface & Base Font Size*/

html {
  font-family: "Montserrat", "Lato", "Roboto", Arial, Helvetica, sans-serif;
  font-size: var(--base-font-size);
}

html,
body {
  min-height: 100vh;
}

/* GLOBALS  && FONT SIZE - Font Size & Scaling factor */
:root {
  --base-font-size: 12px;
  --scale-factor: 1.5;
  --h1: calc(
    var(--base-font-size) * var(--scale-factor) * var(--scale-factor) *
      var(--scale-factor)
  );
  --h2: calc(var(--base-font-size) * var(--scale-factor) * var(--scale-factor));
  --h3: calc(var(--base-font-size) * var(--scale-factor));
  --h4: var(--base-font-size);
  --h5: calc(var(--base-font-size) / var(--scale-factor));
  --h6: calc(var(--base-font-size) / var(--scale-factor) / var(--scale-factor));
  --small-text: calc(
    var(--base-font-size) / var(--scale-factor) / var(--scale-factor) /
      var(--scale-factor)
  );
  --nav-mobile-height: 7rem;
  --mobile-footer-nav: 5rem;
}

/* Font scale system */
h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

/* Apply Small Text Size */
.small-text {
  font-size: var(--small-text);
}

/* Utility Classes for Text Sizes */
.text-base {
  font-size: var(--base-font-size);
}

.text-h1 {
  font-size: var(--h1);
}

.text-h2 {
  font-size: var(--h2);
}

.text-h3 {
  font-size: var(--h3);
}

.text-h4 {
  font-size: var(--h4);
}

.text-h5 {
  font-size: var(--h5);
}

.text-h6 {
  font-size: var(--h6);
}

.text-small {
  font-size: var(--small-text);
}

@media only screen and (min-width: 21em) {
}
/* 600 */
@media only screen and (min-width: 37.5em) {
  :root {
    --base-font-size: 12px;
  }
}
/* 768 */
@media only screen and (min-width: 48em) {
  :root {
    --base-font-size: 14px;
  }
}

/* UTILITY */
.no-scroll {
  overflow: hidden;
  height: 100%;
}
