:host {
  display: block;
  height: 100%;
  /* 400px */
  --form-mobile-width: 25em;
  --form-mobile-padding: 2rem;
  --form-field-color: #f5cd8b;
  --form-background-color: #16171b;
}

.authenticate {
  position: fixed;
  padding: 2rem 0;
  top: 0;
  bottom: 1px;
  width: 100%;

  border-top: 1px solid #f5cd8b;
  border-bottom: 1px solid #f5cd8b;

  background: #413f3f;
  color: #fff;
}
.authenticate-container {
  position: relative;
  margin: auto;
  padding: 1rem;
  max-width: var(--form-mobile-width);
}
fa-icon {
  z-index: 10;
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
  color: var(--form-field-color);
  background-color: #413f3f;
  border-radius: 50%;
  padding: 1px 4px;
  font-size: 1.55rem;
  cursor: pointer;
}
fa-icon:hover {
  color: #000;
  box-shadow: inset 0 0 5px 0 rgba(245, 205, 139, 0.3);
}

button {
  color: #fff;
}
footer {
  margin: 2rem auto;
}

/* SMALL PHONES 450*/
@media screen and (min-width: 28em) {
  .authenticate {
    top: var(--nav-mobile-height);
  }
}
/* TABLETS 768+ */
@media screen and (min-width: 48em) {
  .authenticate {
    top: var(--nav-notepad-height);
    bottom: 0;
  }
}
