<div class="search-container">
  <input
    type="text"
    placeholder="Search for products"
    (keyup)="handleSearch()"
  />
  <i class="bi bi-search"></i>
</div>

@if (isOpen) {
  <div class="overlay" (click)="closeSearch()"></div>
}

@if (isOpen) {
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-md-9 search-results position-absolute start-50 translate-middle-x"
      >
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="closeSearch()"
          ></button>
        </div>

        @if (!isResults) {
          <div>loader...</div>
        } @else {
          <div
            >results:
            <p>{{ mock }}</p>
          </div>
        }
      </div>
    </div>
  </div>
}
