<form [formGroup]="editFormGroup" (ngSubmit)="onEditSubmit($event)">
  <span class="title"> Edit category </span>
  <div class="form-field">
    <input type="text" [value]="categoryNode.name" formControlName="name" />
  </div>

  <div
    class="errors"
    *ngIf="!editFormGroup.valid && (editName.dirty || editName.touched)"
  >
    <small *ngIf="editName.errors?.required">Name is required</small>
    <small *ngIf="editName.errors?.maxlength">Name is too long</small>
  </div>
  <div class="buttons">
    <button
      nbButton
      type="button"
      size="small"
      status="danger"
      (click)="emitClose()"
    >
      Close
    </button>
    <button
      nbButton
      type="submit"
      size="small"
      status="success"
      [disabled]="!editFormGroup.valid"
    >
      Submit
    </button>
  </div>
</form>
