{
  "singleQuote": true,
  "arrowParens": "avoid",
  "semi": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf"
}
