<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header> <h1>Manage categories</h1> </nb-card-header>
      <nb-card-body>
        <div class="row show-grid">
          <div class="col-12">
            <button nbButton status="success" size="giant">
              <nb-icon icon="plus-circle"></nb-icon> Add category
            </button>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-12">
            <nb-list>
              <nb-list-item *ngFor="let category of categories">
                {{ category.name }}
                <nb-actions size="small" class="list-actions">
                  <nb-action
                    icon="edit-2-outline"
                    (click)="editCategory(category)"
                  ></nb-action>
                  <nb-action
                    icon="trash-2-outline"
                    (click)="deleteCategory(category)"
                  ></nb-action>
                </nb-actions>

                <nb-list *ngIf="category.children" class="nested-list">
                  <app-category-item
                    [categories]="category.children"
                    (categoryMoved)="moveCategory($event)"
                  ></app-category-item>
                </nb-list>
              </nb-list-item>
            </nb-list>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
