@import "../../@theme/styles/themes";

@include nb-install-component() {
  nb-action[cdkDrag] {
    cursor: move; /* Change the cursor to the "move" icon */

    &:hover {
      background-color: #f0f0f0; /* Highlight on hover */
    }
  }

  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^="col-"] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: left;
        border-radius: 0.25rem;
      }
    }
  }

  .grid-h {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .table-responsive {
    margin-top: 1rem;
  }

  .category-title {
    border: 1px solid nb-theme(border-basic-color-5);
  }
}
