<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header> <h1>Manage categories</h1> </nb-card-header>
      <nb-card-body>
        <nb-card>
          <nb-card-body>
            <button nbButton status="success" size="giant">Add category</button>

            <nb-list>
              <nb-list-item *ngFor="let category of categories">
                {{ category.name }}
                <nb-actions size="small" class="list-actions">
                  <nb-action
                    icon="edit-2-outline"
                    (click)="editCategory(category)"
                  ></nb-action>
                  <nb-action
                    icon="trash-2-outline"
                    (click)="deleteCategory(category)"
                  ></nb-action>
                </nb-actions>

                <nb-list *ngIf="category.children" class="nested-list">
                  <app-category-item
                    [categories]="category.children"
                    (categoryMoved)="moveCategory($event)"
                  ></app-category-item>
                </nb-list>
              </nb-list-item> </nb-list
          ></nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
