:host {
  --primary-color: #202020;
  --secondary-color: #e80000;
  --text-color: #fafafa;
  --hover-color: goldenrod;
  --transition-duration: 0.4s;

  background-color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  height: var(--navbar-height);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* .navbar-container,
.navbar-row,
.navbar-col {
  height: 100%;
} */
.navbar-col {
  height: var(--navbar-col-height);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo-container img {
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.search-container input {
  width: 18rem;
  height: 40px;
  border: none;
  padding: 0 20px 1px 5px;
  margin-bottom: 4px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--secondary-color);
  border-radius: 0;
}
.search-container input:focus {
  outline: none;
}
.search-container input::placeholder {
  color: var(--text-color);
}
.search-container input::-webkit-input-placeholder {
  color: var(--text-color);
}
.search-container input::-moz-placeholder {
  color: var(--text-color);
}
.search-container input::-ms-input-placeholder {
  color: var(--text-color);
}
.search-container i {
  color: var(--decoration-color);
  font-size: 1.25rem;
  margin-left: -40px;
}
