<header>
  <div class="container navbar-container">
    <div class="row navbar-row">
      <div class="col-md-3 col-3">
        <div class="logo-container">
          <img
            ngSrc="assets/logo.png"
            alt="Sang Logium"
            height="32"
            width="196"
            priority
          />
        </div>
      </div>
      <div class="col-md-4 col-4 navbar-col">
        <div class="search-container">
          <input type="text" placeholder="Search for products" />
          <i class="bi bi-search"></i>
        </div>
      </div>
      <div class="col-md-4 col-4 navbar-col">
        <!-- [class.mobile-menu]="menuVal" -->
        <ul class="desktop-menu">
          <li class="menu-button d-block d-md-none" (click)="toggleMenu()">
            <i class="bi bi-list"></i>
          </li>
          <li>
            <i class="bi bi-person"></i>
            <span>SIGN IN</span>
          </li>
          <li>
            <i class="bi bi-heart"></i>
            <span>FAVORITES</span>
          </li>
          <li>
            <i class="bi bi-cart"></i>
            <span>CART</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
