// @nebular theming framework
@import "@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "@nebular/theme/styles/themes";

$font-stack: "Montserrat", "Lato", "Roboto", Arial, Helvetica, sans-serif;

$nb-themes: nb-register-theme(
  (
    color-primary-100: #fbf9da,
    color-primary-200: #f8f3b5,
    color-primary-300: #ebe38c,
    color-primary-400: #d8cd6b,
    color-primary-500: #bfb13f,
    color-primary-600: #a4952e,
    color-primary-700: #897b1f,
    color-primary-800: #6e6114,
    color-primary-900: #5b4f0c,
    color-success-100: #e9fde4,
    color-success-200: #cefbc9,
    color-success-300: #acf4ab,
    color-success-400: #93e99a,
    color-success-500: #6fdb83,
    color-success-600: #51bc6f,
    color-success-700: #379d5e,
    color-success-800: #237f4e,
    color-success-900: #156944,
    color-info-100: #d0f0fe,
    color-info-200: #a2defe,
    color-info-300: #74c6fe,
    color-info-400: #52affd,
    color-info-500: #198afc,
    color-info-600: #126bd8,
    color-info-700: #0c4fb5,
    color-info-800: #073892,
    color-info-900: #042778,
    color-warning-100: #fef9d2,
    color-warning-200: #fef2a6,
    color-warning-300: #fde87a,
    color-warning-400: #fbde58,
    color-warning-500: #f9ce22,
    color-warning-600: #d6ac18,
    color-warning-700: #b38c11,
    color-warning-800: #906d0a,
    color-warning-900: #775706,
    color-danger-100: #ffe8db,
    color-danger-200: #ffccb7,
    color-danger-300: #ffa993,
    color-danger-400: #ff8878,
    color-danger-500: #ff524c,
    color-danger-600: #db373f,
    color-danger-700: #b7263a,
    color-danger-800: #931833,
    color-danger-900: #7a0e2f,
    // text-basic-color: color-basic-800,
    // text-disabled-color: color-basic-600,
    font-family-primary: $font-stack,
    font-family-secondary: $font-stack,
    menu-item-icon-margin: 0 0.5rem 0 0,

    header-background-color: color-basic-1100,
    layout-padding-top: 2.25rem,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  custom-theme,
  dark
);
$nb-themes: nb-register-theme(
  (
    font-family-primary: $font-stack,
    font-family-secondary: $font-stack,
    menu-item-icon-margin: 0 0.5rem 0 0,

    layout-padding-top: 2.25rem,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  dark,
  dark
);
