// @nebular theming framework
@import "@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "@nebular/theme/styles/themes";
// custom theme: use /utilities folder to get color-basic-... shades map in one go

$font-stack: "Montserrat", "Lato", "Roboto", Arial, Helvetica, sans-serif;

$nb-themes: nb-register-theme(
  (
    color-primary-100: #faf7ff,
    // <- primary violet shades
    color-primary-200: #ece3ff,
    color-primary-300: #d5bfff,
    color-primary-400: #b18aff,
    color-primary-500: #a16eff,
    color-primary-600: #7b51db,
    color-primary-700: #5a37b8,
    color-primary-800: #3e2494,
    color-basic-100: rgb(248, 243, 237),
    color-basic-200: rgb(233, 219, 201),
    color-basic-300: rgb(218, 195, 164),
    color-basic-400: rgb(203, 172, 128),
    color-basic-500: rgb(189, 148, 92),
    color-basic-600: rgb(163, 122, 66),
    color-basic-700: rgb(127, 95, 52),
    color-basic-800: rgb(91, 68, 37),
    color-basic-900: rgb(54, 41, 22),
    color-basic-1000: rgb(18, 14, 7),
    color-basic-1100: rgb(18, 14, 7),
    background-basic-color-1: color-basic-100,
    background-basic-color-2: color-basic-200,
    background-basic-color-3: color-basic-300,
    background-basic-color-4: color-basic-900,
    border-basic-color-1: color-basic-100,
    border-basic-color-2: color-basic-200,
    border-basic-color-3: color-basic-300,
    border-basic-color-4: color-basic-400,
    border-basic-color-5: color-basic-500,

    shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),
    text-disabled-color: color-basic-600,

    font-family-primary: $font-stack,
    font-family-secondary: $font-stack,

    header-background-color: background-basic-color-4,
    sidebar-background-color: color-basic-500,
    menu-item-icon-margin: 0 0.5rem 0 0,

    layout-padding-top: 2.25rem,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  custom-theme,
  default
);

$nb-themes: nb-register-theme(
  (
    // background-basic-color-1: color-basic-1000,
    // background-basic-color-2: rgb(229, 233, 5),
    // background-basic-color-3: rgb(233, 5, 5),
    // background-basic-color-4: rgb(5, 233, 81),
    color-basic-100: white,
    color-basic-200: #eefafc,
    color-basic-300: #e8f5fa,
    color-basic-400: #d6e6f2,
    color-basic-500: #c7dbeb,
    color-basic-600: #a9c0db,
    color-basic-700: #4f969e,
    color-basic-800: #336a77,
    color-basic-900: #295c66,
    color-basic-1000: #244555,
    color-basic-1100: #121a2b,

    font-family-primary: $font-stack,
    font-family-secondary: $font-stack,
    menu-item-icon-margin: 0 0.5rem 0 0,

    layout-padding-top: 2.25rem,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  dark,
  dark
);
