// @nebular theming framework
@import "@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "@nebular/theme/styles/themes";
// custom theme: use /utilities folder to get color-basic-... shades map in one go

$font-stack: "Playfair Display", "Baskerville ", "Rochester", "Cinzel",
  "Bebas Neue", Arial, Helvetica, sans-serif;

$nb-themes: nb-register-theme(
  (
    color-primary-100: #f9dfd1,
    color-primary-200: #f3baa5,
    color-primary-300: #dd8573,
    color-primary-400: #bc554b,
    color-primary-500: #901d1d,
    color-primary-600: #7b151e,
    color-primary-700: #670e1e,
    color-primary-800: #53091c,
    color-primary-900: #45051b,
    color-success-100: #eafbd2,
    color-success-200: #d0f8a7,
    color-success-300: #aaeb78,
    color-success-400: #84d854,
    color-success-500: #52bf24,
    color-success-600: #39a41a,
    color-success-700: #258912,
    color-success-800: #146e0b,
    color-success-900: #095b06,
    color-info-100: #caf2fc,
    color-info-200: #96e0fa,
    color-info-300: #61c3f2,
    color-info-400: #39a4e6,
    color-info-500: #0079d6,
    color-info-600: #005db8,
    color-info-700: #00459a,
    color-info-800: #00317c,
    color-info-900: #002366,
    color-warning-100: #faf7c8,
    color-warning-200: #f6ef94,
    color-warning-300: #e5da5c,
    color-warning-400: #ccbe33,
    color-warning-500: #aa9901,
    color-warning-600: #928200,
    color-warning-700: #7a6b00,
    color-warning-800: #625500,
    color-warning-900: #514500,
    color-danger-100: #fae5d0,
    color-danger-200: #f6c6a3,
    color-danger-300: #e59a71,
    color-danger-400: #cc6e4b,
    color-danger-500: #aa381b,
    color-danger-600: #922413,
    color-danger-700: #7a130d,
    color-danger-800: #62080a,
    color-danger-900: #51050c,
    color-basic-100: rgb(248, 243, 237),
    color-basic-200: rgb(233, 219, 201),
    color-basic-300: rgb(218, 195, 164),
    color-basic-400: rgb(203, 172, 128),
    color-basic-500: rgb(189, 148, 92),
    color-basic-600: rgb(163, 122, 66),
    color-basic-700: rgb(127, 95, 52),
    color-basic-800: rgb(91, 68, 37),
    color-basic-900: rgb(54, 41, 22),
    color-basic-1000: rgb(18, 14, 7),
    color-basic-1100: rgb(18, 14, 7),
    background-basic-color-1: color-basic-100,
    background-basic-color-2: color-basic-200,
    background-basic-color-3: color-basic-300,
    background-basic-color-4: color-basic-900,
    border-basic-color-1: color-basic-100,
    border-basic-color-2: color-basic-200,
    border-basic-color-3: color-basic-300,
    border-basic-color-4: color-basic-400,
    border-basic-color-5: color-basic-500,
    shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),
    text-basic-color: color-basic-1000,
    text-alternate-color: color-basic-100,
    text-control-color: color-basic-100,
    text-disabled-color: color-basic-500,
    text-hint-color: color-basic-700,

    font-family-primary: $font-stack,
    font-family-secondary: $font-stack,

    text-subtitle-2-font-family: $font-stack,
    // text-subtitle-2-font-size: 1.125rem,
    text-subtitle-2-font-weight: bold,
    // text-subtitle-2-line-height: 1.125rem,
    menu-item-icon-height: 1.125rem,
    menu-item-icon-width: 1.125rem,
    menu-item-icon-margin: 0 0.5rem 0 0,

    sidebar-background-color: color-basic-500,

    layout-padding-top: 2.25rem,
    // changing heights/widhts
    header-background-color: color-basic-900,
    header-height: 3.5rem,
    sidebar-width: 14rem,
    footer-height: 3.75rem,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  custom-theme,
  default
);

$nb-themes: nb-register-theme(
  (
    // background-basic-color-1: color-basic-1000,
    // background-basic-color-2: rgb(229, 233, 5),
    // background-basic-color-3: rgb(233, 5, 5),
    // background-basic-color-4: rgb(5, 233, 81),
    color-basic-100: white,
    color-basic-200: #eefafc,
    color-basic-300: #e8f5fa,
    color-basic-400: #d6e6f2,
    color-basic-500: #c7dbeb,
    color-basic-600: #a9c0db,
    color-basic-700: #4f969e,
    color-basic-800: #336a77,
    color-basic-900: #295c66,
    color-basic-1000: #244555,
    color-basic-1100: #121a2b,

    font-family-primary: $font-stack,
    font-family-secondary: $font-stack,
    menu-item-icon-margin: 0 0.5rem 0 0,

    layout-padding-top: 2.25rem,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  dark,
  dark
);
