.mobile-search {
  display: grid;
  grid-template-columns: 0 5fr 0;
  position: fixed;
  top: var(--nav-mobile-height);
  bottom: var(--mobile-footer-nav);
  padding: 2rem 0;
  width: 100%;
  background: #16171b;
  overflow-y: scroll;
  border-top: 1px solid #f5cd8b;
  border-bottom: 1px solid #f5cd8b;
}
.mobile-search::before,
.mobile-search::after {
  content: "";
}

.search {
  justify-self: center;
  padding: 2rem;
  background-color: #eaeaea;
}
.container {
  padding: 1rem 0;
  border-bottom: 1px solid #16171b;
}
input {
  font-size: 1.25rem;
  white-space: wrap;
  word-wrap: break-word;
}
fa-icon {
  font-size: 1.25rem;
}
