@import "../../../@theme/styles/themes";

@include nb-install-component() {
  .category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 0.5rem;

    .name {
      word-break: keep-all;
      white-space: nowrap;
      padding: 0.25rem 0.5rem;
      border: 1px solid nb-theme(border-basic-color-3);
    }

    nb-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      margin-left: 1rem;
      nb-action {
        padding: 0;
      }
    }
  }
  .interface-on {
    display: initial;
  }
  .interface-off {
    display: none;
  }
}
