.isOpen {
  display: block;
}
.isClosed {
  display: none;
}
.mobile-menu {
  position: fixed;
  top: var(--nav-mobile-height);
  bottom: var(--mobile-footer-nav);
  width: 30rem;
  background-color: #16171b;
}
.mobile-menu ul {
  display: grid;
  grid-template-rows:
    1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr
    1fr 1fr;
  padding: 0;
  list-style: none;
}
.mobile-menu li {
}
.mobile-menu a {
  display: inline-block;
  text-decoration: none;
  color: #f5cd8b;
  font-size: 1.75rem;
}
/* 
#16171b / rgba(22,23,27,255) - dark navy blue
#f5cd8b / rgba(245,205,139,255) - light golden font
#640101 crimson fit color for font */
