<div [ngClass]="isOpen ? 'isOpen' : 'isClosed'" class="mobile-menu">
  <ul>
    <li>
      <a routerLink="/store">Men</a>
      <fa-icon [icon]="faAngleRight" class="fa-xl"></fa-icon>
    </li>
    <li>
      <a routerLink="/store">Women</a>
      <fa-icon [icon]="faAngleRight" class="fa-xl"></fa-icon>
    </li>
    <li>
      <a routerLink="/store">Luxury Brands</a>
      <fa-icon [icon]="faAngleRight" class="fa-xl"></fa-icon>
    </li>
    <li>
      <a routerLink="/store">Custom Made</a>
      <fa-icon [icon]="faAngleRight" class="fa-xl"></fa-icon>
    </li>
    <li>
      <a routerLink="/store">Sports & Adventure</a>
      <fa-icon [icon]="faAngleRight" class="fa-xl"></fa-icon>
    </li>
    <li>
      <a routerLink="/store">Luxury Accessories</a>
      <fa-icon [icon]="faAngleRight" class="fa-xl"></fa-icon>
    </li>
    <li>
      <a routerLink="/store">Luxury Watch Care</a>
      <fa-icon [icon]="faAngleRight" class="fa-xl"></fa-icon>
    </li>
    <li>
      <a routerLink="/store">Watch Collections</a>
      <fa-icon [icon]="faAngleRight" class="fa-xl"></fa-icon>
    </li>

    <li>
      <a routerLink="/store">Luxury Watch Blog</a>
      <fa-icon [icon]="faAngleRight" class="fa-xl"></fa-icon>
    </li>
  </ul>
</div>
