.isOpen {
  display: block;
}
.isClosed {
  display: none;
}
.mobile-menu {
  position: fixed;
  top: var(--nav-mobile-height);
  bottom: var(--mobile-footer-nav);
  width: 27rem;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.8) 10%,
    rgba(222, 222, 222, 0.9) 60%,
    rgba(146, 146, 146, 0.4) 100%
  );
  overflow-y: scroll;
}
ul {
  padding: 0;
  list-style: none;
}
li {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.8) 10%,
    rgba(222, 222, 222, 0.9) 60%,
    rgba(146, 146, 146, 0.4) 100%
  );
}
li:last-child {
  border-bottom: none;
}
a {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 0;
  text-decoration: none;
  color: #16171b;
  border-bottom: 1px solid #16171b;
  font-size: 1.25rem;
  font-family: "Montserrat", "Lato", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
fa-icon {
  justify-self: center;
  margin-right: 2rem;
  align-self: center;
  color: #640101;
}
/* 
#16171b / rgba(22,23,27,255) - dark shade
#f5cd8b / rgba(245,205,139,255) - light golden font
#640101 crimson fit color for font */
