<div [ngClass]="isOpen ? 'isOpen' : 'isClosed'" class="mobile-menu">
  <h1>Lux</h1>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/store">Store 1</a></li>
    <li><a routerLink="/store">Store 2</a></li>
    <li><a routerLink="/store">Store 3</a></li>
    <li><a routerLink="/store">Store 4</a></li>
    <li><a routerLink="/store">Store 5</a></li>
    <li><a routerLink="/store">Store 6</a></li>
    <li><a routerLink="/store">Store 7</a></li>
    <li><a routerLink="/store">Store 8</a></li>

    <li><a routerLink="/store">Bla 1</a></li>
    <li><a routerLink="/store">Bla 2</a></li>
  </ul>
</div>
