<nav>
  <button class="notepad-menu-button offset-top">
    <fa-icon [icon]="faBars" class="fa-3x"></fa-icon>
  </button>
  <img src="./../assets/LOGO.png" alt="Lux Logium" class="logo offset-top" />
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      placeholder="Search in 7941 products..."
    />
    <fa-icon [icon]="faSearch" class="search-icon fa-2x"></fa-icon>
  </div>
  <div class="account">
    <button class="sign-in">
      <fa-icon [icon]="faUser"></fa-icon> <span>Sign in</span>
    </button>
    <button class="reserve">
      <fa-icon [icon]="faShieldAlt"></fa-icon><span>Reserve</span>
    </button>
    <button class="cart">
      <fa-icon [icon]="faShoppingCart"></fa-icon> <span>Order</span>
    </button>
  </div>
</nav>

<div class="mobile-footer-nav">
  <button class="mobile-menu-button">
    <fa-icon [icon]="faBars" class="fa-3x"></fa-icon>
  </button>
  <button class="search">
    <fa-icon [icon]="faSearch" class="fa-xl"></fa-icon>
    <span>Search</span>
  </button>
  <button class="sign-in">
    <fa-icon [icon]="faUser" class="fa-xl"></fa-icon> <span>Sign in</span>
  </button>

  <button class="reserve">
    <fa-icon [icon]="faShieldAlt" class="fa-xl"></fa-icon><span>Reserve</span>
  </button>

  <button class="cart">
    <fa-icon [icon]="faShoppingCart" class="fa-xl"></fa-icon> <span>Order</span>
  </button>
</div>
