<nav>
  <div class="shop">
    <button class="tablet-menu-button">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <img src="./../assets/LOGO.png" alt="Lux Logium" class="logo" />
  </div>

  <div class="search">
    <input type="text" placeholder="Search in 7941 products..." />
    <fa-icon [icon]="faSearch" class="fa-2x"></fa-icon>
  </div>

  <div class="buttons">
    <button class="btn-search">
      <fa-icon [icon]="faSearch" class="fa-xl"></fa-icon>
      <span>Search</span>
    </button>
    <button class="btn-sign-in">
      <fa-icon [icon]="faUser" class="fa-xl"></fa-icon> <span>Sign in</span>
    </button>
    <button class="btn-reserve">
      <fa-icon [icon]="faShieldAlt" class="fa-xl"></fa-icon><span>Reserve</span>
    </button>
    <button class="btn-cart">
      <fa-icon [icon]="faShoppingCart" class="fa-xl"></fa-icon>
      <span>Order</span>
    </button>
  </div>
</nav>

<div class="mobile-footer-nav">
  <button class="mobile-menu-button">
    <fa-icon [icon]="faBars" class="fa-3x"></fa-icon>
  </button>

  <button>
    <fa-icon [icon]="faSearch" class="fa-xl"></fa-icon>
    <span>Search</span>
  </button>
  <button>
    <fa-icon [icon]="faUser" class="fa-xl"></fa-icon> <span>Sign in</span>
  </button>
  <button>
    <fa-icon [icon]="faShieldAlt" class="fa-xl"></fa-icon><span>Reserve</span>
  </button>
  <button class="btn-cart">
    <fa-icon [icon]="faShoppingCart" class="fa-xl"></fa-icon> <span>Order</span>
  </button>
</div>
