nav {
  display: grid;
  grid-template-columns: 2fr 8fr 4fr;
  gap: 0 7.5rem;
  background-color: #16171b;
  height: 10rem;
  align-items: center;
}
/* LOGO */
.logo {
  height: 10rem;
  max-height: 100%;
}

/* SEARCH INPUT */
.search-container {
  position: relative;
  margin-top: 1rem;
  max-width: 24rem;
  border-bottom: 1px solid silver;
}

.search-input {
  width: 100%;
  padding-left: 0;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  background: transparent;
  color: #eaeaea;
  font-weight: lighter;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

@media only screen and (max-width: 37.5em) {
  nav {
    height: 5rem;
  }
  .search-input {
    padding: 0.4rem 1.5rem 0.4rem 0.4rem;
    font-size: 0.9rem;
  }

  .search-icon {
    right: 0.75rem;
  }
}
