/* HEADER LAYOUT */

nav {
  display: grid;
  grid-template-columns: 1fr 5fr 8fr 9fr 1fr;
  background-color: #16171b;
  height: 14rem;
  align-items: center;
  justify-content: center;
}
/* LOGO */
.logo {
  justify-self: center;
  margin-top: -1rem;
  height: 10rem;
  max-height: 100%;
}

/* SEARCH INPUT */
.search-container {
  justify-self: center;
  position: relative;
  margin-top: -1rem;
  max-width: 30rem;
  min-width: 30rem;
  border-bottom: 1px solid #f5cd8b;
}
.search-input {
  width: 100%;
  padding-left: 0;
  padding-right: 3rem;
  padding-bottom: 0.5rem;
  outline: none;
  border: none;
  background-color: transparent;
  background: transparent;
  color: #a50101;
  font-size: 2rem;
  font-family: "Montserrat", "Lato", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #f5cd8b;
}
/* ACCOUNT */
.account {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
}
button {
  margin: 0.25rem 2.5rem 0.25rem 0;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  text-align: left;
  color: #a50101;
  font-size: 1.875rem;
  font-family: "Montserrat", "Lato", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 200;
  cursor: pointer;
}
fa-icon {
  margin-right: 1rem;
  color: #f5cd8b;
}
.account fa-icon {
  margin-top: 0.75rem;
}
button span {
  margin-top: -0.25rem;
}
/* 1840px */
@media only screen and (max-width: 115em) {
  html {
    font-size: 5px;
  }
  .account {
    flex-direction: column;
  }
}
/* 1700px */
@media only screen and (max-width: 106em) {
  nav {
    grid-template-columns: 1fr 6fr 12fr 8fr 1fr;
  }
}
/* 1575px */
@media only screen and (max-width: 98em) {
  nav {
    grid-template-columns: 1fr 6fr 12fr 8fr 0fr;
  }
}
/* 1450 */
@media only screen and (max-width: 90em) {
  nav {
    height: 10rem;
  }
  .search-container {
    min-width: 24rem;
    max-width: 24rem;
  }
  .search-input {
    font-size: 1.5rem;
  }
  .account {
    padding-top: 0.25rem;
    justify-content: center;
  }
  button {
    font-size: 1.5rem;
    padding: 0.25rem;
  }
  fa-icon {
    font-size: 1.5rem;
  }
}
/* 1300 */
@media only screen and (max-width: 81em) {
  .logo {
    height: 8rem;
    margin-top: 0.25rem;
  }
  .search-container {
    margin-top: 0.405rem;
  }
  .search-input {
    font-size: 1.25rem;
  }
  .account {
    padding-top: 0.25rem;
  }
  button {
    font-size: 1.25rem;
    padding: 0.25rem;
  }
  fa-icon {
    font-size: 1.25rem;
  }
}
/* 600px */
@media only screen and (max-width: 37.5em) {
  nav {
    height: 6rem;
    grid-template-columns: 0fr 1fr;
    justify-content: center;
    align-items: center;
  }
  nav .logo {
    height: 5.75rem;
    margin-top: 0.25rem;
  }
  nav .search-container,
  nav .account {
    display: none;
  }
  .mobile-footer-nav {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: #16171b;
  }
  .mobile-footer-nav .search-container {
    margin: 0;
    padding: 0.1rem;
    min-width: 8rem;
    max-width: 80%;
  }

  button {
    margin: 0;
  }
  button fa-icon {
    margin: 0;
  }
  button span {
    display: none;
  }
}
