nav {
  display: grid;
  grid-template-columns: 1fr 8fr 4fr;
  background-color: #16171b;
  height: 10rem;
  align-items: center;
}
.logo {
  height: 10rem;
  max-height: 100%;
}

@media only screen and (max-width: 37.5em) {
  nav {
    height: 5rem;
  }
}
