.mobile-menu {
  position: fixed;
  left: -21em;
  top: var(--nav-mobile-height);
  bottom: var(--mobile-footer-nav);
  display: grid;
  grid-template-columns: 0 5fr 0;

  padding: 1rem 0;
  width: 21em;

  border-top: 1px solid #f5cd8b;
  border-bottom: 1px solid #f5cd8b;
  overflow-y: scroll;

  background: #16171b;
}
.mobile-menu::before,
.mobile-menu::after {
  content: "";
}

ul {
  grid-column: 2;
  padding: 0 1rem 1rem 2rem;
  list-style: none;
}
a {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #a50101;
  font-family: "Montserrat", "Lato", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
span {
  height: 100%;
  margin-right: 0.5rem;
  padding: 1rem 0 1rem 0;
  line-height: 1.5;
}

li:last-child a {
  border-bottom: none;
}
fa-icon {
  height: 100%;
  justify-self: center;
  align-self: center;
  color: #f5cd8b;
  padding: 1rem;
  border-radius: 3px;
  line-height: 1.5;
}
/* TABLETS 768+ */
@media screen and (min-width: 48em) {
  .mobile-menu {
    top: var(--nav-notepad-height);
    bottom: 0;
  }
}
