:host {
  --primary-color: #202020;
  --secondary-color: #e80000;
  --text-color: #fafafa;
  --hover-color: goldenrod;
  --transition-duration: 0.4s;

  background-color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  height: var(--navbar-height);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* .navbar-container,
.navbar-row,
.navbar-col {
  height: 100%;
} */
.navbar-col {
  height: var(--navbar-col-height);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo-container img {
  cursor: pointer;
}
